@import url('https://fonts.googleapis.com/css2? family= Poppins & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');
 
 
 
 table{
    border: 1px solid black;
    border-collapse: collapse;
 }
 tr,td,th{
    border:1px solid black;
    border-collapse: collapse;
    padding: 15px;
    margin:auto;
 }
 .jour{
    font-weight: bold;
 }
 .heure{
    font-style: italic;
    font-size:20px;
 }
 .prefere{
    color:white;
    background-color: navy;
 }
 td{
    /* @font-face {
        font-family:'Montserrat' Arial ;
        src: url('Montserrat.otf')
    } */
    font-family: 'Montserrat', sans-serif;
 }
 .jour, .heure{
    /* @font-face {
        font-family:'Poppins' Arial;
        src: url('Poppins.tff')
    } */
    font-family: 'Poppins', sans-serif;
 }